.rbutton{
  border-radius: 25px;
  background: #24A0ED;
  padding: 0px;
  width: 50px;
  height: 50px;
}

.right-align{
  text-align: right;
}

.container-fluid{
  background-color: #303030;
  color:white;

}

.container{
  background-color: #303030;
  color:white;
  margin: auto;
  border-radius: 1%;
}

input{
  width: 25%;
}

.black{
  color: #303030;
}

.glyphicon-repeat{
  color: #303030;
}

#myFile{
  
  display: block;
  background-image: none;
  color: white;
  font-weight: bold;
  background-color: green;
  text-align: center;
  border-radius: 15px;
}

#file-chosen{
  font-size: 11px;
}
